/Tibos.Api/bin/Debug/netcoreapp2.0/Logs
bin
obj
/Tibos.Test/bin
/Tibos.Test/obj
/Tibos.Common/bin
/Tibos.Common/obj
/Tibos.Confing/bin
/Tibos.Confing/obj
/Tibos.ConfingModel/bin
/Tibos.ConfingModel/obj
/Tibos.Domain/bin
/Tibos.Domain/obj
/Tibos.Repository.Contract/bin
/Tibos.Repository.Contract/obj
/Tibos.Repository.Service/obj
/Tibos.Repository.Service/bin
/Tibos.Service/obj
/Tibos.Service/bin
/Tibos.Service.Contract/obj
/Tibos.Service.Contract/bin
/Tibos.Web/obj
/Tibos.Web/bin
/.vs/NH.Core/DesignTimeBuild/.dtbcache
/.vs/NH.Core/v15/Server/sqlite3/db.lock
/.vs/NH.Core/v15/Server/sqlite3/storage.ide
/.vs/NH.Core/v15/Server/sqlite3/storage.ide-shm
/.vs/NH.Core/v15/Server/sqlite3/storage.ide-wal
