@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="~/lib/shangchengxiangmu/css/shouye.css">
<script src="~/lib/shangchengxiangmu/js/modernizr-custom-v2.7.1.min.js"></script>
<script src="~/js/jquery.min.js"></script>
<style>
    .jdt {
        margin-bottom: 20px;
    }

    .jdt, .pay-jd {
        position: relative;
    }

        .jdt li {
            display: inline-block;
            width: 25%;
            text-align: center;
            position: relative;
            padding-top: 30px;
            counter-increment: my;
        }

        .jdt:before {
            right: 0;
            background-color: #ccc;
        }

        .jdt:after, .jdt:before {
            position: absolute;
            left: 0;
            top: 9px;
            height: 2px;
            content: '';
        }

        .jdt:after {
            width: 25%;
            background-color: #37cd9f;
            -webkit-transition: width .5s cubic-bezier(0,0,.2,1);
            -moz-transition: width .5s cubic-bezier(0,0,.2,1);
            -ms-transition: width .5s cubic-bezier(0,0,.2,1);
            transition: width .5s cubic-bezier(0,0,.2,1);
        }

        .jdt.two-step:after {
            width: 50%;
        }

        .jdt.three-step:after {
            width: 75%;
        }

        .jdt li:before {
            content: counter(my);
            position: absolute;
            left: 50%;
            top: 0;
            line-height: 16px;
            width: 20px;
            height: 20px;
            margin-left: -10px;
            border: 2px solid #ccc;
            background-color: #fff;
            color: #ccc;
            border-radius: 100%;
            font-family: 'PingFang SC','Microsoft YaHei',"Helvetica Neue",Helvetica,STHeiTi,sans-serif;
            font-weight: 400;
            z-index: 3;
            -webkit-transition: all .5s cubic-bezier(0,0,.2,1);
            -moz-transition: all .5s cubic-bezier(0,0,.2,1);
            -ms-transition: all .5s cubic-bezier(0,0,.2,1);
            transition: all .5s cubic-bezier(0,0,.2,1);
        }




        .jdt li:before, .pcdemo-btn {
            font-size: 16px;
            text-align: center;
        }

        .jdt li:first-child:before {
            color: #fff;
            background-color: #37cd9f;
            border-color: #37cd9f;
        }

        .jdt.two-step li:nth-child(2):before {
            color: #fff;
            background-color: #37cd9f;
            border-color: #37cd9f;
        }

        .jdt.three-step li:nth-child(3):before {
            color: #fff;
            background-color: #37cd9f;
            border-color: #37cd9f;
        }

        .jdt.four-step li:nth-child(4):before {
            color: #fff;
            background-color: #37cd9f;
            border-color: #37cd9f;
        }

    .tit {
        height: 60px;
        line-height: 60px;
        padding: 0 30px;
        border-bottom: 1px solid #e5e5e5;
        font-size: 16px;
    }

        .tit a {
            height: 60px;
            line-height: 60px;
            font-size: 16px;
        }

    .main {
        padding: 0px 30px;
        margin-top: 30px;
    }

    .content {
        padding: 0px 30px;
    }
</style>



<body style="background-color:rgb(248,248,248)">
    <div class="col-lg-8 col-lg-offset-2 center-vertical" style="margin-top:2%;">
        <div class="panel" style="overflow:auto">
            <div class="tit">NH  |  PC网页支付体验</div>
            <div class="main">
                <ul class="jdt"> <li>选择商品</li><li>提交订单</li><li>选择支付方式</li><li>付款</li> </ul>
            </div>
            <div id="content" class="content">
                <div class="Xcontent">
                    <ul class="Xcontent01">

                        <div class="Xcontent06"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X1.png"></div>
                        <ol class="Xcontent08">
                            <div class="Xcontent07"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X1.png"></div>
                            <div class="Xcontent09"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X7.png"></div>
                            <div class="Xcontent10"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X8.png"></div>
                            <div class="Xcontent11"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X9.png"></div>
                            <div class="Xcontent12"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X10.png"></div>
                        </ol>
                        <ol class="Xcontent13">
                            <div class="Xcontent14"><a href="#"><p>NH充电宝</p></a></div>
                            <div class="Xcontent15"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X11.png"></div>
                            <div class="Xcontent16"><p>充电5分钟，温暖2小时</p></div>
                            <div class="Xcontent17">
                                <p class="Xcontent18">售价</p>
                                <p class="Xcontent19">￥<span>0.01</span></p>
                                <div class="Xcontent20">
                                    <p class="Xcontent21">促销</p>
                                    <img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X12.png">
                                    <p class="Xcontent22">领610元新年礼券，满再赠好礼</p>
                                </div>
                                <div class="Xcontent23">
                                    <p class="Xcontent24">服务</p>
                                    <p class="Xcontent25">30天无忧退货&nbsp;&nbsp;&nbsp;&nbsp;       48小时快速退款 &nbsp;&nbsp;&nbsp;&nbsp;        满88元免邮</p>
                                </div>

                            </div>
                            <div class="Xcontent26">
                                <p class="Xcontent27">颜色</p>
                                <div class="Xcontent28"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X14.png"></div>
                                <div class="Xcontent29"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X1.png"></div>
                            </div>
                            <div class="Xcontent30">
                                <p class="Xcontent31">数量</p>
                                <div class="Xcontent32"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X15.png"></div>
                                <form>
                                    <input class="input" value="1" disabled="true">
                                </form>
                                <div class="Xcontent33"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/16.png"></div>

                            </div>
                            <div class="Xcontent34"><a href="#"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X17.png"></a></div>
                            <div class="Xcontent35"><a href="#"><img src="~/lib/shangchengxiangmu/images/shangpinxiangqing/X18.png"></a></div>

                        </ol>



                    </ul>
                </div>


                <script>
                    $(document).ready(function () {
                        var $miaobian = $('.Xcontent08>div');
                        var $huantu = $('.Xcontent06>img');
                        var $miaobian1 = $('.Xcontent26>div');
                        $miaobian.mousemove(function () { miaobian(this); });
                        $miaobian1.click(function () { miaobian1(this); });
                        function miaobian(thisMb) {
                            for (var i = 0; i < $miaobian.length; i++) {
                                $miaobian[i].style.borderColor = '#dedede';
                            }
                            thisMb.style.borderColor = '#cd2426';

                            $huantu[0].src = thisMb.children[0].src;
                        }
                        function miaobian1(thisMb1) {
                            for (var i = 0; i < $miaobian1.length; i++) {
                                $miaobian1[i].style.borderColor = '#dedede';
                            }
                            //		thisMb.style.borderColor = '#cd2426';
                            $miaobian.css('border-color', '#dedede');
                            thisMb1.style.borderColor = '#cd2426';
                            $huantu[0].src = thisMb1.children[0].src;
                        }
                        $(".Xcontent33").click(function () {
                            var value = parseInt($('.input').val()) + 1;
                            var price = $(".Xcontent19 span").html();
                            $('.input').val(value);
                            $(".Xcontent19 span").html((parseFloat(price) + parseFloat(0.01)).toFixed(2));
                        })

                        $(".Xcontent32").click(function () {
                            var num = $(".input").val();
                            var price = $(".Xcontent19 span").html();
                            if (num > 1) {
                                $(".input").val(num - 1);
                                $(".Xcontent19 span").html((parseFloat(price) - parseFloat(0.01)).toFixed(2));
                            }

                        })

                    })






                </script>

                <script>
                    $(".Xcontent34").click(function () {
                        //1.将内容缓存起来
                        localStorage.lastname = $(".panel").html();
                        //2.修改进度
                        $(".jdt").addClass("two-step");
                        //3.页面跳转
                        $("#content").load("/Product/Order", { ids: 1 }, function () { });
                        //4.修改面包屑
                        $(".tit").html("<a href=''>返回 | 重新选择</a>");
                    })
                </script>


            </div>
        </div>
    </div>
</body>

<script src="~/js/bootstrap.min.js"></script>
<script>
    function drawback() {
        $('.panel').html(localStorage.lastname);
    }
</script>