@{ 
    Layout = null;
}
<style>
    .address {
        padding-bottom: 20px;
        border-bottom: 1px dashed #ccc;
    }

    div {
        display: block;
    }

    .address h5 {
        font-size: 14px;
        margin-bottom: 16px;
    }

    .address p {
        width: 198px;
        border: 1px solid #27c8e8;
        background-color: #fff;
        padding: 10px;
        font-size: 14px;
        line-height: 24px;
        color: #666;
        position: relative;
    }

        .address p span {
            font-size: 14px;
            display: block;
            margin-bottom: 5px;
        }

        .address p:after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            height: 28px;
            width: 25px;
            background: url(data:image/svg+xml;base64,PHN2ZyBpZD0i57uEXzkiIGRhdGEtbmFtZT0i57uEIDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjI1IiBoZWlnaHQ9IjI4IiB2aWV3Qm94PSIwIDAgMjUgMjgiPgogIDxkZWZzPgogICAgPHN0eWxlPgogICAgICAuY2xzLTEgewogICAgICAgIGZpbGw6ICMyN2M4ZTg7CiAgICAgIH0KCiAgICAgIC5jbHMtMSwgLmNscy0yIHsKICAgICAgICBmaWxsLXJ1bGU6IGV2ZW5vZGQ7CiAgICAgIH0KCiAgICAgIC5jbHMtMiB7CiAgICAgICAgZmlsbDogbm9uZTsKICAgICAgICBzdHJva2U6ICNmZmY7CiAgICAgICAgc3Ryb2tlLXdpZHRoOiAycHg7CiAgICAgIH0KICAgIDwvc3R5bGU+CiAgPC9kZWZzPgogIDxwYXRoIGlkPSLnn6nlvaJfMzAiIGRhdGEtbmFtZT0i55+p5b2iIDMwIiBjbGFzcz0iY2xzLTEiIGQ9Ik00NTMuMTA5LDczMHYyOEg0MjguMVoiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC00MjguMDk0IC03MzApIi8+CiAgPHBhdGggaWQ9IuW9oueKtl80IiBkYXRhLW5hbWU9IuW9oueKtiA0IiBjbGFzcz0iY2xzLTIiIGQ9Ik00NDEuMSw3NDlsNCwyLDUtOCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTQyOC4wOTQgLTczMCkiLz4KPC9zdmc+Cg==) no-repeat 0 0;
        }

    .order-infor {
        margin-top: 20px;
    }

        .order-infor h5 {
            font-size: 14px;
            margin-bottom: 16px;
        }

        .order-infor table {
            border: 1px solid #e5e5e5;
        }

    table {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;
        border-top: 1px solid #efefef;
        border-left: 1px solid #efefef;
    }

    tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
    }

    .order-infor table tr:first-child {
        border: 0;
    }

    table tbody tr:nth-child(odd) {
        background-color: #f6f6f6;
    }

    .order-infor table td, .order-infor table th {
        font-size: 14px;
        color: #666;
    }

    .order-infor table th {
        height: 28px;
        background-color: #f8f8f8;
        border-bottom: 1px solid #e5e5e5;
        font-weight: 400;
    }

    .order-infor table td:first-child {
        line-height: 21px;
        text-align: left;
        font-size: 12px;
    }

    table td {
        padding: 15px 20px;
        line-height: 20px;
    }

    .order-infor table td, .order-infor table th {
        border-left: 0;
        border-right: 0;
        text-align: center;
    }

    .order-infor .pay-box {
        right: 0;
        bottom: 0;
        line-height: 40px;
        height: 40px;
        float: right;
        margin: 25px 0px;
    }

        .order-infor .pay-box strong {
            font-size: 20px;
            color: #fb226b;
            margin-right: 48px;
        }

        .order-infor .pay-box button {
            vertical-align: top;
        }

    .pcdemo-btn {
        border: none;
        border-radius: 4px;
        background-color: #27c8e8;
        font-size: 16px;
        color: #fff;
        height: 40px;
        line-height: 40px;
        width: 160px;
        text-align: center;
        position: relative;
        overflow: hidden;
        z-index: 2;
    }

        .pcdemo-btn:after {
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            right: 0;
            content: attr(ta);
            z-index: 2;
        }
</style>
<div class="first-step">
    <div class="address">
        <h5>收货地址</h5> <p> <span>付钱拉</span> 北京市朝阳区西大望路1号温特莱中心B座 </p>
    </div>
    <div class="order-infor">
        <h5>订单信息</h5>
        <table border="0">
            <tbody>
                <tr>
                    <th> </th>
                    <th>单价</th>
                    <th>数量</th>
                    <th>总计</th>
                </tr>
                <tr>
                    <td>
                        <p>
                            <img src="" alt="">
                            <span>付钱拉专属U盘</span>
                            内存：16G <br>
                            颜色：<em>金属银</em>
                        </p>
                    </td>
                    <td>￥0.01</td>
                    <td>1</td>
                    <td>￥0.01</td>
                </tr>
            </tbody>
        </table>
        <div class="pay-box">
            应付金额：<strong>0.01<span>元</span></strong> <button class="pcdemo-btn sbt-btn" ta="提交订单"></button>
        </div>
    </div>
</div>
<script>
    $(".pcdemo-btn").click(function ()
    {
        //1.将内容缓存起来
        localStorage.lastname = $(".panel").html();
        //2.修改进度
        $(".jdt").addClass("three-step");
        //3.页面跳转
        $("#content").load("/Product/PayType", { ids: "@ViewData["goods_ids"]" }, function () { });
        //4.修改面包屑
        $(".tit").html("<a href='javascript:drawback()'>返回 | 核对信息</a>")
    })
</script>