.fillet {
    border-radius: 25px;
    height: 50px;
    width: 50px;
    border: 1px solid;
}

.box {
    height: 50px;
    width: 100px;
    box-shadow: 10px 10px 5px #888888;
    background: yellow;
}
#round {
    border: 15px solid transparent;
    width: 250px;
    padding: 50px 10px;
    -webkit-border-image: url(border.png) 30 30 round; /* Safari 5 and older */
    -o-border-image: url(border.png) 30 30 round; /* Opera */
    border-image: url(../img/border.png) 30 30 round;
}
.relative {

}
    .relative .r1 {
        position: relative;
        border: solid red 1px;
        width: 50px;
        height: 50px;
    }
    .relative .r2 {
        border: solid red 1px;
        width: 50px;
        height: 50px;
        position: relative;
        left: 30px;
        top: -10px;
    }
    .relative .r3 {
        border: solid red 1px;
        width: 50px;
        height: 50px;
        position: relative;
        left: 15px;
        top: -20px;
    }
.absolute {
}
    .absolute .r1 {
        border: solid red 1px;
        width: 50px;
        height: 50px;
    }

    .absolute .r2 {
        border: solid red 1px;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 30px;
        top: 1150px;
    }

    .absolute .r3 {
        border: solid red 1px;
        width: 50px;
        height: 50px;
        position: absolute;
        left: 45px;
        top: 1165px;
    }
.absolute {
}

.float {
    
}
    .float .r1 {
        border: solid red 1px;
        width: 50px;
        height: 50px;
        float: left;
    }

    .float .r2 {
        border: solid red 1px;
        width: 50px;
        height: 50px;
        float: left;
        margin-left: 10px;
    }

    .float .r3 {
        border: solid red 1px;
        width: 50px;
        height: 50px;
        float: left;
        margin-left: 10px;
        margin-bottom:20px;
    }
.clear {
    clear: both;
}
.background-image {
    background-image: url(../img/img_flwr.gif),url(../img/img_flwr.gif),url(../img/paper.gif);
    background-position: right bottom,left bottom,left top;
    background-repeat: no-repeat,no-repeat,repeat;
    height: 250px;
}
.linear {
    height:80px;
    background: linear-gradient(red, blue);
}
.kks {
    height: 300px;
    width: 250px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
    .kks .mm1 {
        height: 220px;
        width: 250px;
        background-color: #4CAF50;
        color:white;
        line-height:220px;
        font-weight:700;
        font-size:98px;
    }
.kks .mm2 {
    line-height: 80px;
}
.wordwrap {
    height: 300px;
    width: 250px;
    border: 1px solid;
    word-wrap: break-word;
}
.transform {
    height: 150px;
    width: 150px;
    border: 1px solid;
    transform: rotate(60deg);
}
.translate {
    height: 150px;
    width: 150px;
    border: 1px solid;
    transform:translate(100px,80px)
}
.scale {
    height: 150px;
    width: 150px;
    border: 1px solid;
    transform:scale(0.5,0.5);
}
.skew {
    height: 150px;
    width: 150px;
    border: 1px solid;
    transform:skew(30deg,30deg);
}
.rotateX {
    height: 150px;
    width: 150px;
    border: 1px solid;
}

.rotateY {
    height: 150px;
    width: 150px;
    border: 1px solid;
}
.md1 {
    height: 100px;
    width: 150px;
    background: red;
    border: 1px solid;
    transition: width 2s,height 2s,transform 2s;
}
    .md1:hover {
        width: 300px;
        height: 200px;
        transform: rotate(180deg);
    }