@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<style type="text/css">
    body, table {
        font-size: 12px;
    }

    table {
        table-layout: fixed;
        empty-cells: show;
        border-collapse: collapse;
    }

    td {
        height: 30px;
    }

    h1, h2, h3 {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }

    .table {
        border: 1px solid #cad9ea;
        color: #666;
    }

        .table th {
            background-repeat: repeat-x;
            height: 30px;
        }

        .table td, .table th {
            border: 1px solid #cad9ea;
            padding: 0 1em 0;
        }

        .table tr.alter {
            background-color: #f5fafe;
        }
</style>

GUID: @ViewData["GUID"]
<br />
<button onclick="get()">获取token</button>

<button onclick="getlist()">获取用户列表</button>

<button onclick="add()">添加用户</button>

<button onclick="put()">修改用户</button>

<button onclick="del()">删除用户</button>

<br />
<div style="margin-top:50px;">
    toekn:<span id="token"></span>
</div>


<div id="vt" style="margin-top:50px;">
    <table class="table">
        <thead>
            <tr>
                <th>编号</th>
                <th>用户名</th>
                <th>密码</th>
                <th>手机号</th>
                <th>是否删除</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(value,key) in list" :id="key">
                <td>{{value.id}}</td>
                <td>{{value.user_name}}</td>
                <td>{{value.password}}</td>
                <td>{{value.mobile}}</td>
                <td v-if="value.is_del == 1">{{"已删除"}}</td>
                <td v-else>{{"正常数据"}}</td>
            </tr>
        </tbody>
    </table>
</div>
<script src="~/js/jquery.min.js"></script>
<script src="~/js/vue.min.js"></script>
<script>


    var vm = new Vue({
        el: '#vt',
        data:
        {
            list: []
        }
    })
    var path = "http://192.168.1.233:8303";

    function get() {
        var param = {
            "user_name": "admin",
            "password": "123456"
        };
        $.ajax({
            type: "get",
            url: path + "/api/user/gettoken",
            data: param,
            success: function (data, status) {
                $("#token").html(data.data);
            }
        });
    }

    function getlist() {
        var param = {
            "pageIndex": "0",
            "pageSize":10
        };
        $.ajax({
            type: "post",
            url: path + "/api/SubBanner/GetList",
            data: param,
            beforeSend: function (xhr) {
                xhr.setRequestHeader("Version", '1.2.3');
            },
            success: function (data, status) {
                alert(data.Data);
            }
        });
    }
</script>