@{
    Layout = null;
}

<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/docs.css" rel="stylesheet" />
<link href="~/css/html.css" rel="stylesheet" />
<script src="~/js/jquery.min.js"></script>

<div class="col-lg-8 col-lg-offset-2 center-vertical" role="main">
        <h3>CSS学习笔记</h3>
        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS3 圆角</h4>
            <p>设置圆角:<code>border-radius:25px;</code></p>
        </div>
        <div class="fillet"></div>
        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS3 盒阴影</h4>
            <p>设置阴影:<code>box-shadow: 10px 10px 5px #888888;</code></p>
        </div>
        <div class="box"></div>
        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS3 边框</h4>
            <p>设置边框:<code>box-shadow: 10px 10px 5px #888888;</code></p>
        </div>
        <div id="round"></div>
        <img src="~/img/border.png" />
        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS 定位</h4>
            <p>相对定位:<code>position: relative;</code></p>
        </div>
        <div class="relative">
            <div class="r1"></div>
            <div class="r2"></div>
            <div class="r3"></div>
        </div>
        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS 定位</h4>
            <p>绝对定位:<code>position: absolute;</code></p>
        </div>
        <div class="absolute">
            <div class="r1"></div>
            <div class="r2"></div>
            <div class="r3"></div>
        </div>
        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS 浮动</h4>
            <p>左浮动:<code>float: left;</code></p>
        </div>
        <div class="float">
            <div class="r1"></div>
            <div class="r2"></div>
            <div class="r3"></div>
        </div>
        <div class="bs-callout bs-callout-danger clear" id="callout-overview-not-both">
            <h4>CSS3 背景图片(可以组合多张背景图片)</h4>
            <p>背景图片</p>
            <p><code>background-image: url(img_flwr.gif), url(paper.gif);</code></p>
            <p><code>background-position: right bottom, left top;</code></p>
            <p><code>background-repeat: no-repeat, repeat;</code></p>
        </div>
        <div class="background-image"></div>

        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS3 颜色渐变</h4>
            <p>线型渐变:<code>linear-gradient(red, blue);</code></p>
        </div>
        <div class="linear"></div>


        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS3 小卡片</h4>
            <p>小卡片:<code>box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);</code></p>
        </div>
        <div class="kks">
            <div class="mm1">
                1
            </div>
            <div class="mm2">January 1, 2016</div>
        </div>
        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS3 换行</h4>
            <p>字体换行:<code>word-wrap:break-word;</code></p>
        </div>
        <div class="wordwrap">sdfsdfadfsdfsdfdfllkjdfljaldfjoiuwerljdljflasdjfladfjladfjlwjerpouqerl;jqwr;ljewrljqewrl;jasdpoudasfopuewrlejrlerljladsjfpouewr;ljdsfljerpoudlj;ljgluoadf;jwer;j</div>

        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS3 2D</h4>
            <p>旋转<code>transform: rotate(30deg);</code></p>
            <p>移动<code>transform:translate(100px,80px);</code></p>
            <p>缩放<code>transform:scale(0.5,0.5);</code></p>
            <p>倾斜度<code>transform:skew(30deg,30deg);</code></p>
        </div>
        <div class="transform"></div>
        <div class="translate"></div>
        <div class="scale"></div>
        <div class="skew"></div>

        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS3 3D</h4>
        </div>
        <div class="rotateX" id="rotate2D" onmouseover="rotateDIV()">666</div>
        <div class="rotateY" id="rotate3D" onmouseover="rotateYDIV()">666</div>

        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS3 过渡</h4>
        </div>
        <div class="md1"></div>
        <div class="bs-callout bs-callout-danger" id="callout-overview-not-both">
            <h4>CSS3 动画</h4>
        </div>
        下次再说
    </div>

<script>
<!--
    var x, y, n = 0, ny = 0, rotINT, rotYINT
    function rotateDIV() {
        x = document.getElementById("rotate2D")
        clearInterval(rotINT)
        rotINT = setInterval("startRotate()", 10)
    }
    function rotateYDIV() {
        y = document.getElementById("rotate3D")
        clearInterval(rotYINT)
        rotYINT = setInterval("startYRotate()", 10)
    }
    function startRotate() {
        n = n + 1
        x.style.transform = "rotate(" + n + "deg)"
        x.style.webkitTransform = "rotate(" + n + "deg)"
        x.style.OTransform = "rotate(" + n + "deg)"
        x.style.MozTransform = "rotate(" + n + "deg)"
        if (n == 180 || n == 360) {
            clearInterval(rotINT)
            if (n == 360) { n = 0 }
        }
    }
    function startYRotate() {
        ny = ny + 1
        y.style.transform = "rotateY(" + ny + "deg)"
        y.style.webkitTransform = "rotateY(" + ny + "deg)"
        y.style.OTransform = "rotateY(" + ny + "deg)"
        y.style.MozTransform = "rotateY(" + ny + "deg)"
        if (ny == 180 || ny >= 360) {
            clearInterval(rotYINT)
            if (ny >= 360) { ny = 0 }
        }
    }
//-->
</script>



