
@{
    Layout = null;
}
<link href="~/js/prettify/prettify.css" rel="stylesheet" />
<link href="~/css/bootstrap-table.css" rel="stylesheet" />
<link href="~/css/bootstrap.css" rel="stylesheet" />
<link href="~/css/wx.css" rel="stylesheet" />


<script src="~/js/jquery.min.js"></script>
<script src="~/js/prettify/prettify.js"></script>

<style>
    table {
        border-collapse: collapse;
        border-spacing: 0;
        line-height: 2;
        margin-bottom: 40px;
        width: 100%;
    }
    tbody {
        border-bottom: 1px solid #ddd;
    }
    tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
    }
        tr:nth-child(2n) {
            background-color: #f8f8f8;
        }

    table th {
        padding: 6px 13px;
        border: 1px solid #ddd;
        word-wrap: break-word;
        word-break: break-all;
        min-width: 87px;
        font-weight: 700;
    }
    table td{
        padding: 6px 13px;
        border: 1px solid #ddd;
        word-wrap: break-word;
        word-break: break-all;
        min-width: 87px;
    }
    td, th {
        text-align: left;
    }
</style>

<body onload="prettyPrint()">
    <div class="headWrap">
        <div class="header" id="header">
            <div class="inner">
                <a class="logo" href="#"><img src="~/img/logo.png" alt="微信公众平台开发者文档"></a>
            </div>
        </div>
    </div>
    <div style="margin-top:100px;" class="mainwrapper" id="documentation">
        <div class="inner">

            <div id="mw-panel">
            </div>
            <div id="content">
                <div class="content_hd">
                    <h2 id="firstHeading" class="firstHeading">欢迎使用IDCM API</h2>
                    <div class="info">
                    </div>
                </div>
                <div class="sk-spinner sk-spinner-wave" style="opacity:0">
                    <div class="sk-rect1"></div>
                    <div class="sk-rect2"></div>
                    <div class="sk-rect3"></div>
                    <div class="sk-rect4"></div>
                    <div class="sk-rect5"></div>
                </div>
                <div id="" class="bodyContent">
                    <h2 style="text-align:center">
                        商户操作文档
                    </h2>
                    <h3 style="margin-left:24px">
                        <span>1.<span style="font-variant-numeric: normal;font-variant-east-asian: normal;font-stretch: normal;font-size: 9px;line-height: normal;font-family: &#39;Times New Roman&#39;">&nbsp;&nbsp; </span></span>申请成为商户
                    </h3>
                    <p style="margin-left:24px">
                        在<span>IDCM</span>平台<span>&gt;</span>联系<span>IDCM&gt;</span>商户合作<span>(<span><a href="http://undefined">business@idcm.io</a></span>),</span>发起商户申请<span>,</span>商务部门会与您取得联系<span>,</span>确认信息<span>,</span>达成合作协议<span>.</span>
                    </p>
                    <h3 style="margin-left:24px">
                        <span>2.<span style="font-variant-numeric: normal;font-variant-east-asian: normal;font-stretch: normal;font-size: 9px;line-height: normal;font-family: &#39;Times New Roman&#39;">&nbsp;&nbsp; </span></span>注册商户
                    </h3>
                    <p style="margin-left:24px">
                        达成协议后<span>,</span>商户提交注册信息<span>,</span>如下
                    </p>
                    <p style="margin-left:24px">
                        商户二级域名<span>_____________________&nbsp;&nbsp; (</span>示例<span>:ceshi)</span>
                    </p>
                    <p style="margin-left:24px">
                        商户密钥<span>(GUID)___________________ &nbsp;&nbsp;(</span>示例<span>: gKJY8bK7xEy8ki_IeaHuoA)</span>
                    </p>
                    <p style="margin-left:24px">
                        注册成功后<span>,</span>平台返回商户如下信息
                    </p>
                    <p style="margin-left:24px">
                        前台地址示例<span>: <a href="http://undefined">http://ceshi.idcm.io</a></span>
                    </p>
                    <p style="text-indent:24px">
                        后台地址示例<span>: <a href="http://undefined">http://ceshiadmin.idcm.io/admin</a></span>
                    </p>
                    <p style="text-indent:24px">
                        商户密钥<span>: gKJY8bK7xEy8ki_IeaHuoA</span>
                    </p>
                    <p style="text-indent:24px">
                        平台公钥<span>:</span>
                    </p>
                    <pre class="prettyprint lang-js prettyprinted" style="">MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAwnsbSgsVdgscvfHpcwIE+3/Ny5swzVlUpJMveQDmdNool++SESap8r9Vhsc1lvO8W3omj6KAQ0j6as8ZTSGS3ngp0uf7nTgnuVxLfCF8UNhtOkbWomGZWoobM8LM+RX0VzzbPsVB7q0gmUPkH4M2TcPV2cjDyl2t3Om0ZDh0qaQjtTCUrc6BmCfYoAZpBoMIlM8gUViBi9TxxW2HvKlreUkM/IOyikRRmkIm/rkhqHO4z5HQoZzz0+QkxoqFMmkV5YZaoM0DQ7957vMNZUOxvmjg17GjJHVJzF/Keo25bEYdvnTVnjmAc+EMc+6qjrFIVuhE+T5l3rfE+4jqdzkN+QIDAQAB</pre>
                    <p style="margin-left:24px">
                    <span>&nbsp;</span>
                    </p>
                    <p style="margin-left:24px">
                        备注<span>:</span>平台会提供预发布环境<span>(API,APIDemo,</span>前台<span>,</span>后台<span>),</span>以供开发人员测试
                    </p>
                    <p style="margin-left:24px">
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
                    </p>
                    <h2 style="margin-left:24px">
                    <span>3.<span style="font-variant-numeric: normal;font-variant-east-asian: normal;font-stretch: normal;font-size: 9px;line-height: normal;font-family: &#39;Times New Roman&#39;">&nbsp; </span></span>使用<span>API</span>
                    </h2>
                    <p class="MsoListParagraph" style="margin-left:48px">
                    <span>3.1<span style="font-variant-numeric: normal;font-variant-east-asian: normal;font-stretch: normal;font-size: 9px;line-height: normal;font-family: &#39;Times New Roman&#39;">&nbsp; </span></span><span>API</span>帮助文档地址<span>: <span><a href="http://undefined">http://prewww.idcm.io:7777/wiki</a></span></span>
                    </p>
                    <p class="MsoListParagraph" style="margin-left:48px">
                    <span>3.2<span style="font-variant-numeric: normal;font-variant-east-asian: normal;font-stretch: normal;font-size: 9px;line-height: normal;font-family: &#39;Times New Roman&#39;">&nbsp; </span></span><span>APIDemo</span>地址<span>: <span><a href="http://undefined">http://prewww.idcm.io:7777/wiki/demo</a></span></span>
                    </p>
                    <p style="margin-left:24px">
                    <span>&nbsp;</span>
                    </p>
                    <p style="margin-left:24px">
                    <span>APIDemo</span>采用前端<span>html + js</span>编写<span>,</span>右键查看源<span>,</span>可直接拷贝下来
                    </p>
                    <p>
                    <span>&nbsp;</span>
                    </p>
                    <p>
                    <br />

                    </p>


                </div>
        </div>
    </div>
</div>
</body>




<script>
    $(function () {
        //加载区域(一级菜单)
        $.post("http://localhost:8303/api/Wiki/GetApiDocumentTitleList", {}, function (data) {
            var res = '';
            $.each(data.Data, function (i, val) {
                res += "<div id=\"" + val.ID + "\" class='portal'>";
                res += "<h5 onclick=\"clickMenu(this)\"><span class='portal_arrow'></span>" + val.Name + "</h5>";
                res += "<div class='body' style='display: none; '>";
                res += "<ul></ul>";
                res += "</div>";
                res += "</div>";
            });
            $("#mw-panel").append(res);
        });
    });

    //加载内容
    function clickMenu(t) {

        var t = $(t), b = t.next(".body"), p = t.parent();
        if (b.is(":visible")) {
            b.slideUp("fast");
            p.removeClass("active");
        } else {
            //展开

            //1.判断ul里是否有内容
            var k = b.find("ul");
            if (k.html() == "") {
                $(".sk-spinner").css("opacity", 1);
                $.post("http://localhost:8303/api/Wiki/GetSubApiDocumentTitleList", { pid: $(p).attr("id")}, function (data) {
                    $(".sk-spinner").css("opacity", 0);
                    $.each(data.Data, function (i, val) {
                        var text = $.getContent(val.ID, "zh-CN");
                        if (i == 0) {
                            $(".firstHeading").html(val.Name);
                            $(".bodyContent").css("display", "none");
                            //列表
                            var Title = "<li class='.active' id=t_" + val.ID + " onclick='showContent(this)'><a href='#'>&nbsp;&nbsp;&nbsp;" + val.Name + "</a></li>";
                            var content = "<div id='c_" + val.ID + "' class='bodyContent'>" + text + "</div>";
                        } else {
                            //列表
                            var Title = "<li id=t_" + val.ID + " onclick='showContent(this)'><a href='#'>&nbsp;&nbsp;&nbsp;" + val.Name + "</a></li>";
                            var content = "<div id=c_" + val.ID + " style='display:none' class='bodyContent'>" + text + "</div>";
                        }
                        $(k).append(Title);
                        $("#content").append(content);
                        prettyPrint()
                    })
                });
            }

            b.find("li").find("em").addClass("none");
            b.slideDown("fast", function () {
                b.find("li").find("em").removeClass("none");
            });
            p.addClass("active");
        }
        $(this).parent().siblings(".portal").removeClass("active").find(".body").slideUp("fast");
    }

    function showContent(t) {
        $(".bodyContent").slideUp();
        $(".firstHeading").html($(t).find("a").text());
        var id = $(t).attr("id").replace("t", "c");
        $("#" + id).slideDown();
    }

    $.getContent = function(id, languageCode)
    {
        var Content;
        $.ajax({
            type: "post",
            url: "http://localhost:8303/api/Wiki/GetApiDocument",
            async: false,
            dataType: "json",
            data: { id: id, languageCode: languageCode },
            success: function (data, textStatus) {
                Content = data.Extra.Content;
            }
        });
        return Content;
     }
</script>